<div class="row justify-content-md-center">
    <div class="center-block col-md-auto">
        <form>
            <div class="row mb-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkboxEnable" name="enable">
                    <label class="form-check-label" for="enable">Enable Data Polling</label>
                </div>
            </div>
            
            <div class="row mb-2">
            <label class="col-sm-8 col-form-label" for="interval">Polling Interval (seconds)</label>
            <input class="form-control" type="number" id="textInterval" name="interval" min="5" max="3600" required> 
            </div>
            
            <div class="row mb-2">
            <label class="col-sm-8 col-form-label" for="hostname">Hostname <i>(leave empty for auto-detect)</i></label>
            <input class="form-control" type="text" id="textHostname" name="hostname">
            </div>

            <div class="row mb-2">
            <label class="col-sm-8 col-form-label" for="interface">Network Interface <i>(for monitoring purpose)</i></label>
            <input class="form-control" type="text" id="textNetworkInterface" name="interface">
            </div>
            
            <div class="row mb-2">
            <label class="col-sm-8 col-form-label" for="database">DB</label>
            <input class="form-control" type="text" id="textDatabase" name="database" required>
            </div>
            
            <div class="row mb-2">
            <label class="col-sm-8 col-form-label" for="dbHost">DB Host</label>
            <input class="form-control" type="text" id="textDbHost" name="dbHost" required>
            </div>
            
            <div class="row mb-2">
            <label class="col-sm-8 col-form-label" for="dbPort">DB Port</label>
            <input class="form-control" type="number" id="textDbPort" name="dbPort" min="1000" max="55565" required>
            </div>
            
            <div class="row mb-2">
            <label class="col-sm-8 col-form-label" for="dbUsername">DB Username</label>
            <input class="form-control" type="text" id="textDbUsername" name="dbUsername" required>
            </div>
            
            <div class="row mb-2">
            <label class="col-sm-8 col-form-label" for="dbPassword">DB Password</label>
            <input class="form-control" type="password" id="textDbPassword" name="dbPassword" required>
            </div>
            
            <button type="button" class="btn btn-primary" id="applyButton" name="apply">Apply</button>
    
        </form>
    </div>
</div>