<div class="row justify-content-md-center">
    <div class="center-block col-md-auto">
        <div class="row mb-2">
            <div class="error">
                <p>Error 404 : Page not found</p>
            </div>
        </div>
    </div>
</div>